$scale-transition: 0.5s ease-in-out;
$scale-large: 2;
$scale-medium: 1.5;
$scale-normal: 1;
$animation-duration: 1s;
$animation-delay: 2s;
$animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

.petry-center {
    z-index: 50;
    transition: transform $scale-transition;
    width: 384px;
    &:hover {
        transform: scale(1.03);
    }
}

.latorre {
    width: 384px;
}

.scale-down-center {
    animation: scale-down-center $animation-duration $animation-timing-function $animation-delay both;
}

.fade-in {
    opacity: 0;
    transition: opacity $scale-transition;

    &.show {
        opacity: 1;
    }
}

@keyframes scale-down-center {
    0% {
        transform: scale($scale-large);
        opacity: 0;
    }
    100% {
        transform: scale($scale-normal);
    }
}

@media (min-width: 375px) {
    .petry-center, .latorre {
        width: 50%;
    }
}

@media (min-width: 768px) {
    @keyframes scale-down-center {
        0% {
            transform: scale($scale-medium);
        }
        100% {
            transform: scale($scale-normal);
        }
    }
}

@media (min-width: 1024px) {
    .petry-center, .latorre {
        width: 384px;
    }
}



@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    14% {
      transform: scale(1.02);
    }
    28% {
      transform: scale(1);
    }
    42% {
      transform: scale(1.04);
    }
    70% {
      transform: scale(1);
    }
  }
  
  .heartbeat-effect {
    animation: heartbeat 1.5s ease-in-out infinite;
  }