.petry_center {
    z-index: 50;
    transition: 0.5s;
    &:hover {
        transform: scale(1.03);
    }
}

.scale-down-center {
    -webkit-animation: scale-down-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)2s both;
    animation: scale-down-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)2s both;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
    opacity: 1;
}

@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }

    40% {
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);

    }
}

@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }

    40% {
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media (min-width: 375px) {
    .petry_center {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .petry_center {
        width: 384px;
    }

    @-webkit-keyframes scale-down-center {
        0% {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes scale-down-center {
        0% {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

@media (min-width: 1024px) {
    .petry_center {
        width: 384px;
    }

    @-webkit-keyframes scale-down-center {
        0% {
            -webkit-transform: scale(2);
            transform: scale(2);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes scale-down-center {
        0% {
            -webkit-transform: scale(2);
            transform: scale(2);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}