.petry_center {
    position: absolute;
    z-index: 50;
    cursor: pointer;
    transition: 0.5s;
}

.petry_center:hover {
    transform: scale(1.1);
}

.scale-down-center {
    -webkit-animation: scale-down-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
    animation: scale-down-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}

@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
